

/* General */
.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

/* Callout Section */
.callout-container {
    height: 700px;
    background: url('../images/calming-image.webp') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items:  center;
    justify-content: center;
    position: relative;
}
.callout {
    background: transparent;
    max-width: 400px;
    text-align: center;
}

/* Container wrappers */
.wrapper-purple {
    background-color: #cfa194;
    color: #fff;
}

/* Content containers */
.content-container {
    padding-bottom: 25px;
    padding-top: 45px;
}

.page-header {
    margin-bottom: 0;
    border-bottom: 0;
    text-align: center;
}

.page-header p {
    font-size: 1.1rem;
    margin: 1.5rem auto 2.5rem;
}

/* Container-benefits */
.icons {
    margin-top: 3em;
}
.icons > div {
    margin-bottom: 3rem;
}
.icons i {
    font-size: 2em;
    margin-right: 0.5rem;
    vertical-align: middle
}
.icons p {
    margin: auto;
}

/* Container Health Tips */
.container-health-tips .card {
    border: 1px solid rgb(207, 161, 148);
    border-radius: 0;
}

.container-health-tips .card-group + .card-group .card {
    border-top-width: 0;
}

/* Buttons */
.btn--cta {
    font-weight: bold;
    border-radius: 23px;
    width: 160px;
}

.btn--blue {
    color: white;
    background-color: #0073bb;
    border-color: #0073bb;
}

.btn--blue:hover,
.btn--blue:active,
.btn--blue:focus,
.btn--blue:active:focus {
    background-color: #0187db;
    border-color: #0187db;
    color: #fff;
}

/* Media query large or landscape phones (576px and up) */
@media screen and (min-width: 576px) {
    /* Callout Section */
    .callout-container {
        justify-content: right;
    }
    .callout {
        text-align: right;
    }
}

/* Media query tablets (768px and up) */
@media screen and (min-width: 768px) {
    .callout-container {
        background-position: center;
    }
}

/* Media query: desktops and large (1200px and up) */
@media screen and (min-width: 1200px) {
    /* Callout Section */
    .callout {
        margin-right: 20%;
    }
}